@import 'tailwindcss';

@theme {
  --color-primary: #126cfb;
  --color-background: #f7f9fc;
  --color-dark: text-slate-900;
  --color-gray: #161d2499;
}

@variant dark (&:where(.dark, .dark *));

.dark {
  --color-background: #0f172a;
  --color-foreground: #f7f9fc;
}

::selection {
  color: white;
  background: var(--color-primary);
}

::-moz-selection {
  color: white;
  background: var(--color-primary);
}

body {
  font-family: 'Geist', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.funnel-display {
  font-family: 'Funnel Display', sans-serif;
  font-optical-sizing: auto;
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

.smooth-poppins {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  perspective: 1000px;
  backface-visibility: hidden;
}
