@import "tailwindcss";

* {
  cursor: none;
}

@theme {
  --color-primary: #ff540a;
  --color-background: #f7f9fc;
  --color-dark: #0e1217;
  --color-gray: #161d2499;
}

::selection {
  color: white;
  background: var(--color-primary);
}

::-moz-selection {
  color: white;
  background: var(--color-primary);
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 400;
  color: var(--color-dark);
}
