@import "tailwindcss";

@theme {
  --color-primary: #126cfb;
  --color-background: #f7f9fc;
  --color-dark: #171717;
  --color-gray: #161d2499;
}

::selection {
  color: white;
  background: var(--color-primary);
}

::-moz-selection {
  color: white;
  background: var(--color-primary);
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

#logo {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.smooth-poppins {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  perspective: 1000px;
  backface-visibility: hidden;
}
