@import "tailwindcss";
/*
* {
  cursor: none;
}
*/
@font-face {
  font-family: "Athletics";
  src: url("/fonts/Athletics Regular.otf") format("opentype");
  font-weight: 400; /* Ili 800 ako je zaista bold */
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #126cfb;
  --color-background: #f7f9fc;
  --color-dark: #1a1b25;
  --color-gray: #161d2499;
}

::selection {
  color: white;
  background: var(--color-primary);
}

::-moz-selection {
  color: white;
  background: var(--color-primary);
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
